// Define color scheme
$body-color: #FFFFFF;
$body-text-color: #707070;
$header-color: #000000;
$tint-color: #E6F7FF;
$tag-color: #E6F7FF;
$hover-color: #99DFFF;
$active-color: #99DFFF;
$footer-color: #292929;
$footer-text-color: #E9E9E9;

// Define default fonts (300, 500, 700)
$body-font-family: 'Baloo Tamma 2', cursive;
$logo-font: 'Comfortaa', cursive;

$body-font-light: 300;
$body-font-normal: 500;
$body-font-bold: 700;

$body-font-italic: italic;

// Colors defined in the logo
$logo-black: #161615;
$logo-blue: #99DFFF;