.timeline-section {
  padding-left: 0;
  padding-right: 0;
}

.price-table-section {
  padding-left: 0;
  padding-right: 0;
}

// announcement banner cs
.m-red {
  background: #e54556;
  color: #fff;
  text-decoration: none;
}

.m-bar {
  width: 75%;
  min-width: 600px;
  max-width: 1200px;
  height: 55px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.m-bar a.m-close {
  float: right;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  margin-right: 10px;
}

.m-bar a.m-close i {
  margin-top: 15px;
}

.m-bar a.m-microphone {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  cursor: default;
}

.m-bar a.m-content {
  font-size: 18px;
  margin-left: 5px;
  //line-height: 54px;
  display: inline-block;
}
// end announcement banner cs

// header h1 style
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 300;
  //font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 20px;
}

h1 em {
  font-weight: 600;
}

.page-heading h1 {
  text-align: center;
  padding-bottom: 5px;
}
.page-heading h1 span {
  font-weight: 300;
  word-spacing: 3px;
  line-height: 2em;
  padding-bottom: 0.35em;
  color: rgba(0, 0, 0, 0.5);
}
.page-heading h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #777;
}
// end header h1 style