<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link href="timeline.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<div class="timeline-container">
	<div class="timeline-leftbox">
		<nav>
			<a id="dashboard"> <i class="fas fa-tachometer-alt"></i> </a>
			<a id="profile"> <i class="fas fa-user"></i> </a>
			<a id="settings"> <i class="fas fa-cog"></i> </a>
			<a id="messages"> <i class="fas fa-comments"></i> </a>
			<a id="notification"> <i class="fas fa-bell"></i> </a>
		</nav>
	</div>
	<div class="timeline-rightbox">
		<div class="rb-container">
			<ul class="rb">
				<li class="rb-item" ng-repeat="itembx">
					<div class="timestamp">
						Step 1
					</div>
					<div class="item-title">Register an account</div>
				</li>
				<li class="rb-item" ng-repeat="itembx">
					<div class="timestamp">
						Step 2
					</div>
					<div class="item-title">Choose a template</div>
				</li>
				<li class="rb-item" ng-repeat="itembx">
					<div class="timestamp">
						Step 3
					</div>
					<div class="item-title">Customize your own website</div>
				</li>
				<li class="rb-item" ng-repeat="itembx">
					<div class="timestamp">
						Step 4
					</div>
					<div class="item-title">Download files,<br/> or choose a hosting plan</div>
				</li>
			</ul>
		</div>
	</div>
</div>